 /* Import TailwindCSS Classes */
@import "tailwindcss";

/* Font style for home page link on Navbar */
.cursive { 
    /* Use Amatic font for elements with cursive class. */
    font-family: "Amatic SC", cursive;
    font-weight: 700;
}

.home-name {
    /* For large greeting headline on home page */
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.prose img {
    /* Center & round image corners inside any .prose container. */
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}